Idee random per progetto.txt
L_AI_brary/l_ai_brary/uv.lock
L_AI_brary/l_ai_brary/src/l_ai_brary/knowledge_base/
L_AI_brary/l_ai_brary/src/l_ai_brary/mlflow.db
L_AI_brary/l_ai_brary/src/l_ai_brary/output/
